<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sussex.foss.unispeedtest"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <!--  Permissions  -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_GPS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Sussex Speed Test"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SpeedTestPreferences"
			android:label="Speed Test Preferences" 
			android:configChanges="keyboardHidden|orientation">

		</activity>
        
        <!--  Background Service -->
       <service android:enabled="true" android:exported="true"
			android:label="Background Task"
			android:name="com.sussex.foss.unispeedtest.background.BackgroundTask">
		</service>
		
        <service android:enabled="true" android:exported="true"
			android:label="GSM Signal Logger"
			android:name="com.sussex.foss.unispeedtest.background.GSMLoggerService">
		</service>

		<receiver android:name="com.sussex.foss.unispeedtest.background.LocationAlarmReceiver"></receiver>
		<!--  End Background Service -->
        
    </application>

</manifest>